@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to LapTech. Home of the very best gaming laptops.</title>
        <style>
            body {
                font-family: Arial;
            }

            .header {
                text-align: center;
                padding: 10px;
            }

            .content {
                margin: 20px;
            }
        </style>
        </head>
<body>
    <header class="header">
        <h1>Welcome to LapTech</h1>

         <li class="nav-item">
                        <a href="/AllLaptops" class="btn btn-success" role="button" style="margin-right: 10px;">
                            All Laptops
                        </a>
                    </li>
    </header>
    <div class="content">
        <p>
            LapTech is the leading provider of gaming laptops. We offer the very best to our customers.
            We're the only company in the world with a 100% positive rating from our customers.
            Every single customer think we're the best. And frankly, we agree. And as the old adage goes, the customer is always right. Thus, it's the truth.
            Our team is composed of l33t gamers and programmers. With millions of hours in gaming experience as well as computer building.
        </p>
        <p>
            We're at the heart of the industry. Rather, we're the beating heart of it.
            We provide you devices for the greatest games known to mankind. Sure there's other games, but they're not worth the time.
            Moreover, LapTech is a family friendly company and more importantly, a customer friendly one.
            The company is created and ran by David Nti-Bonsu. Who, other than being a gaming enthusiast. Is a financial and business oriented visionary.
            Customer service is ran by Sture and André. Thanks to them, the company retains its outstanding rating amongst customers.
            The mainstay of the millions of hours of gaming experience that the company has accumulated, is in large part thanks to our resident gaming expert, Halil Kitir and Rami Softh.  
        </p>
    </div>
</body>
</html>